In [50]:
from IPython.display import display, Markdown
markdown_content = """
# Preprocesing
"""
display(Markdown(markdown_content))

# Preprocesing

In [51]:
markdown_content = """
## 1.Import library
"""
display(Markdown(markdown_content))

## 1.Import library

In [52]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import nltk
import string
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [53]:
markdown_content = """
## 2.Preprocessing
"""
display(Markdown(markdown_content))

## 2.Preprocessing

In [55]:
df = pd.read_csv('D:/email-spam/src/preprocessing/spam.csv',encoding='latin1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [54]:
markdown_content = """
### 2.1.Read csv
"""
display(Markdown(markdown_content))

### 2.1.Read csv

In [56]:
markdown_content = """
### 2.2.Fixxing data
"""
display(Markdown(markdown_content))

### 2.2.Fixxing data

In [57]:
df.drop(columns=['Unnamed: 2'], inplace=True)
df.drop(columns=['Unnamed: 3'], inplace=True)
df.drop(columns=['Unnamed: 4'], inplace=True)
df.rename(columns={'v1': 'Label', 'v2': 'Message'}, inplace=True)
df

     Label                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [58]:
markdown_content = """
### 2.3.Label Encoding and Drop duplicates
"""
display(Markdown(markdown_content))

### 2.3.Label Encoding and Drop duplicates

In [59]:
encoder = LabelEncoder()
df['Label'] = encoder.fit_transform(df['Label'])
df = df.drop_duplicates(keep='first')
df

      Label                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0              Will Ì_ b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [60]:
markdown_content = """
### 2.4.Import some functions to preprocessing
"""
display(Markdown(markdown_content))

### 2.4.Import some functions to preprocessing

In [61]:
def get_importantFeatures(sent):
    sent = sent.lower()
    
    returnList = []
    sent = nltk.word_tokenize(sent)
    for i in sent:
        if i.isalnum():
            returnList.append(i)
    return returnList
 
def removing_stopWords(sent):
    returnList = []
    for i in sent:
        if i not in nltk.corpus.stopwords.words('english') and i not in string.punctuation:
            returnList.append(i)
    return returnList
 
def potter_stem(sent):
    returnList = []
    for i in sent:
        returnList.append(ps.stem(i))
    return " ".join(returnList)

In [62]:
markdown_content = """
### 2.5.Preprocessing
"""
display(Markdown(markdown_content))

### 2.5.Preprocessing

In [63]:
df_copy.to_csv('D:/email-spam/src/tfidf_output.csv', index=False)

In [64]:
# Tạo một bản sao của DataFrame không liên kết với DataFrame gốc
df_copy = df.copy()

# Áp dụng hàm get_importantFeatures vào cột 'Message' của bản sao
df_copy['imp_feature'] = df_copy['Message'].apply(get_importantFeatures)
df_copy['imp_feature'] = df_copy['imp_feature'].apply(removing_stopWords)
df_copy['imp_feature'] = df_copy['imp_feature'].apply(potter_stem)
df_copy.to_csv('D:/email-spam/src/preprocessing/tfidf_output.csv', index=False)
print(df_copy)

      Label                                            Message  \
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      1  This is the 2nd time we have tried 2 contact u...
5568      0              Will Ì_ b going to esplanade fr home?
5569      0  Pity, * was in mood for that. So...any other s...
5570      0  The guy did some bitching but I acted like i'd...
5571      0                         Rofl. Its true to its name

                                            imp_feature
0     go jurong point crazi avail bugi n great world...
1                                 ok lar joke wif u oni
2     free entri 2 wkli comp win fa cup final tkt 21...
3                   u dun say earli hor u c alreadi say
4                  nah think goe usf live around though
...                                                 ...
5567  2nd time tri 2 contact u pound prize 2 claim e...
5568                              b go esplanad fr home
5569                                  piti mood suggest
5570  guy bitch act like interest buy someth els nex...
5571                                     rofl true name

[5169 rows x 3 columns]